@model dynamic
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@Html.TitleForPage(T("Change Password").ToString()) </h3>
    </div>
    <div class="box-body">
        <p>@T("Your password has been changed successfully.")</p>
    </div>
</div>
