<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Onefourseven | AdminLTE</title><!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Display(Model.Head)
</head>
<body class="hold-transition skin-blue sidebar-mini">
@* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
@Display(Model.Body)
@Display(Model.Tail)
</body>
</html>
